<a href="https://colab.research.google.com/github/AswinKumar3/Phonepe/blob/main/Phonepe.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install cartopy
import cartopy

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting cartopy
  Downloading Cartopy-0.21.1.tar.gz (10.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 10.9/10.9 MB 86.8 MB/s eta 0:00:00
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Preparing metadata (pyproject.toml) ... done
Requirement already satisfied: numpy>=1.18 in /usr/local/lib/python3.10/dist-packages (from cartopy) (1.22.4)
Requirement already satisfied: matplotlib>=3.1 in /usr/local/lib/python3.10/dist-packages (from cartopy) (3.7.1)
Requirement already satisfied: shapely>=1.6.4 in /usr/local/lib/python3.10/dist-packages (from cartopy) (2.0.1)
Collecting pyshp>=2.1 (from cartopy)
  Downloading pyshp-2.3.1-py2.py3-none-any.whl (46 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 46.5/46.5 kB 5.3 MB/s eta 0:00:00
Collecting pyproj>=3.0.0 (from cartopy)
  Downloading pyproj-3.5.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (7.7 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 7.7/7.7 MB 94.3 MB/s eta 0:00:00
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib>=3.1->cartopy) (1.0.7)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.10/dist-packages (from matplotlib>=3.1->cartopy) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib>=3.1->cartopy) (4.39.3)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib>=3.1->cartopy) (1.4.4)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib>=3.1->cartopy) (23.1)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib>=3.1->cartopy) (8.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib>=3.1->cartopy) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.10/dist-packages (from matplotlib>=3.1->cartopy) (2.8.2)
Requirement already satisfied: certifi in /usr/local/lib/python3.10/dist-packages (from pyproj>=3.0.0->cartopy) (2022.12.7)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.7->matplotlib>=3.1->cartopy) (1.16.0)
Building wheels for collected packages: cartopy
  Building wheel for cartopy (pyproject.toml) ... done
  Created wheel for cartopy: filename=Cartopy-0.21.1-cp310-cp310-linux_x86_64.whl size=11102743 sha256=2fbb2d3ac4962de041c705b2d53ad11277bd1061c41f6711947ef355865e1ff6
  Stored in directory: /root/.cache/pip/wheels/30/b0/1a/1c1909e00c76653dc4e2ff48555257c0eb2d1698280c8d9955
Successfully built cartopy
Installing collected packages: pyshp, pyproj, cartopy
Successfully installed cartopy-0.21.1 pyproj-3.5.0 pyshp-2.3.1

In [ ]:
pip install gitpython

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting gitpython
  Downloading GitPython-3.1.31-py3-none-any.whl (184 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 184.3/184.3 kB 4.8 MB/s eta 0:00:00
Collecting gitdb<5,>=4.0.1 (from gitpython)
  Downloading gitdb-4.0.10-py3-none-any.whl (62 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 62.7/62.7 kB 7.3 MB/s eta 0:00:00
Collecting smmap<6,>=3.0.1 (from gitdb<5,>=4.0.1->gitpython)
  Downloading smmap-5.0.0-py3-none-any.whl (24 kB)
Installing collected packages: smmap, gitdb, gitpython
Successfully installed gitdb-4.0.10 gitpython-3.1.31 smmap-5.0.0

In [ ]:
pip install pandas

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2022.7.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.22.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [ ]:
import git
import csv
import subprocess
import pandas as pd
import requests
import os

In [ ]:
#cloning the Github Repository provided for the data extraction

os.system("git clone https://github.com/PhonePe/pulse.git")

import os
import json
import pandas as pd

root_dir = (r'/content/pulse\data')

In [ ]:
# creating an empty list inorder to hold the data from each JSON file

data_list = []

In [ ]:
# Looping all the states data's from the folder

for state_dir in os.listdir(os.path.join(root_dir, '/content/pulse/data/aggregated/transaction/country/india/state/')):
  state_path = os.path.join(root_dir, '/content/pulse/data/aggregated/transaction/country/india/state', state_dir)
  if os.path.isdir(state_path):
    #loop the year folders
    for year_dir in os.listdir(state_path):
      year_path = os.path.join(state_path, year_dir)
      if os.path.isdir(year_path):

      #loop JSON files
        for json_file in os.listdir(year_path):
          if json_file.endswith('.json'):
            with open(os.path.join(year_path, json_file)) as f:
              data = json.load(f)

            #Extract the data
              for transaction_data in data['data']['transactionData']:
                row_dict = {
                  'States' : state_dir,
                  'Transaction_Year' : year_dir,
                  'Quarters' : int(json_file.split('.')[0]),
                  'Transaction_Type' : transaction_data['name'],
                  'Transaction_Count' : transaction_data['paymentInstruments'][0]['count'],
                  'Transaction_Amount' : transaction_data['paymentInstruments'][0]['amount']
              }
              data_list.append(row_dict)

In [ ]:
# Convert list of dictionaries to dataframe

df1 = pd.DataFrame(data_list)
df1

,States,Transaction_Year,Quarters,Transaction_Type,Transaction_Count,Transaction_Amount
0,tripura,2020,3,Others,6819,3.886908e+06
1,tripura,2020,1,Others,4117,4.071400e+06
2,tripura,2020,2,Others,4731,2.459205e+06
3,tripura,2020,4,Others,8242,5.416158e+06
4,tripura,2018,3,Others,5748,4.338753e+06
...,...,...,...,...,...,...
1435,jharkhand,2022,4,Others,199198,1.297765e+08
1436,jharkhand,2019,3,Others,114758,8.616085e+07
1437,jharkhand,2019,1,Others,90140,8.335866e+07
1438,jharkhand,2019,2,Others,121107,1.022707e+08
1439,jharkhand,2019,4,Others,93078,4.921183e+07

In [ ]:
import os
import json
import pandas as pd

root_dir = '/content/pulse/data/aggregated/user/country/india/state'
df2_list = []

for state_dir in os.listdir(root_dir):
  state_path = os.path.join(root_dir, state_dir)
  if os.path.isdir(state_path):
    for json_file in os.listdir(state_path):
      if json_file.endswith('.json'):
        with open(os.path.join(state_path, json_file), 'r') as f:
          json_data = json.load(f)
          if isinstance(json_data, list):
            df2_list += json_data
          else:
            df2_list.append(json_data)

    if df2_list:
      df2 = pd.json_normalize(df2_list)
      df2['subfolder'] = state_dir
      df2['subsubfolder'] = 'state'

df2 = pd.DataFrame(data_list)

In [ ]:
df2

,States,Transaction_Year,Quarters,Transaction_Type,Transaction_Count,Transaction_Amount
0,tripura,2020,3,Others,6819,3.886908e+06
1,tripura,2020,1,Others,4117,4.071400e+06
2,tripura,2020,2,Others,4731,2.459205e+06
3,tripura,2020,4,Others,8242,5.416158e+06
4,tripura,2018,3,Others,5748,4.338753e+06
...,...,...,...,...,...,...
1435,jharkhand,2022,4,Others,199198,1.297765e+08
1436,jharkhand,2019,3,Others,114758,8.616085e+07
1437,jharkhand,2019,1,Others,90140,8.335866e+07
1438,jharkhand,2019,2,Others,121107,1.022707e+08
1439,jharkhand,2019,4,Others,93078,4.921183e+07

In [ ]:
import os
import json
import pandas as pd

root_dir = (r'/content/pulse/data')

#initialize empty list to hold dictionaties of data for each JSON file

data_list = []

#Loop all state folders

for state_dir in os.listdir(os.path.join(root_dir, '/content/pulse/data/map/transaction/hover/country/india/state/')):
  state_path = os.path.join(root_dir, '/content/pulse/data/map/transaction/hover/country/india/state', state_dir)
  if os.path.isdir(state_path):

    #Loop the years folder
      for year_dir in os.listdir(state_path):
        year_path = os.path.join(state_path, year_dir)
        if os.path.isdir(year_path):

        #loop JSON files
          for json_file in os.listdir(year_path):
            if json_file.endswith('.json'):
              with open(os.path.join(year_path, json_file)) as f:
                data = json.load(f)

                # Extract the data
                for hoverDataList in data['data']['hoverDataList']:
                  row_dict = {
                      'States' : state_dir,
                      'Transaction_Year' : year_dir,
                      'Quarters' : int(json_file.split('.')[0]),
                      'District' : hoverDataList['name'],
                      'Transaction_Type' : hoverDataList['metric'][0]['type'],
                      'Transaction_Count' : hoverDataList['metric'][0]['amount']
                  }
                  data_list.append(row_dict)


#convert list of dictionaries to dataframe
df3 = pd.DataFrame(data_list)

df3

,States,Transaction_Year,Quarters,District,Transaction_Type,Transaction_Count
0,tripura,2020,3,unakoti district,TOTAL,1.189579e+08
1,tripura,2020,3,khowai district,TOTAL,1.297611e+08
2,tripura,2020,3,sepahijala district,TOTAL,2.693501e+08
3,tripura,2020,3,north tripura district,TOTAL,2.079651e+08
4,tripura,2020,3,dhalai district,TOTAL,1.924036e+08
...,...,...,...,...,...,...
14631,jharkhand,2019,4,pakur district,TOTAL,1.691858e+08
14632,jharkhand,2019,4,lohardaga district,TOTAL,1.783155e+08
14633,jharkhand,2019,4,sahebganj district,TOTAL,3.783668e+08
14634,jharkhand,2019,4,giridih district,TOTAL,1.173757e+09
14635,jharkhand,2019,4,bokaro district,TOTAL,2.158045e+09

In [ ]:
import os
import json
import pandas as pd

root_dir = '/content/pulse/data/map/user/hover/country/india/state'

#initialize empty list to hold dictionaries of data for each JSON file
data_list = []

#Loop all the state folders

for state_dir in os.listdir(root_dir):
  state_path = os.path.join(root_dir, state_dir)
  if os.path.isdir(state_path):

    #Loop all the years
    for year_dir in os.listdir(state_path):
      year_path = os.path.join(state_path, year_dir)
      if os.path.isdir(year_path):

        #loop all the JSON files
        for json_file in os.listdir(year_path):
          if json_file.endswith('.json'):
            with open(os.path.join(year_path, json_file)) as f:
              data = json.load(f)

              #Extract the data
              for district, values in data['data']['hoverData'].items():
                row_dict = {
                    'States' : state_dir,
                    'Transaction_Year' : year_dir,
                    'Quarter' : int(json_file.split('.')[0]),
                    'District' : district,
                    'RegisteredUsers' : values['registeredUsers'],
                }
                data_list.append(row_dict)

#convert list of dictionaries to dataframe
df4 = pd.DataFrame(data_list)

df4

,States,Transaction_Year,Quarter,District,RegisteredUsers
0,tripura,2020,3,unakoti district,20095
1,tripura,2020,3,khowai district,23565
2,tripura,2020,3,sepahijala district,39970
3,tripura,2020,3,north tripura district,37284
4,tripura,2020,3,dhalai district,29515
...,...,...,...,...,...
14635,jharkhand,2019,4,pakur district,28972
14636,jharkhand,2019,4,lohardaga district,24330
14637,jharkhand,2019,4,sahebganj district,49836
14638,jharkhand,2019,4,giridih district,175648
14639,jharkhand,2019,4,bokaro district,322689

In [ ]:
import os
import json
import pandas as pd

root_dir = (r'/content/pulse/data')

#initialize empty list to hold dictionaries of data for each JSON file
data_list = []

#Loop all the state folders

for state_dir in os.listdir(os.path.join(root_dir, '/content/pulse/data/top/transaction/country/india/state')):
  state_path = os.path.join(root_dir, '/content/pulse/data/top/transaction/country/india/state', state_dir)
  if os.path.isdir(state_path):

    #Loop all the years
    for year_dir in os.listdir(state_path):
      year_path = os.path.join(state_path, year_dir)
      if os.path.isdir(year_path):

        #loop all the JSON files
        for json_file in os.listdir(year_path):
          if json_file.endswith('.json'):
            with open(os.path.join(year_path, json_file)) as f:
              data = json.load(f)

              #Extract the data
              for districts in data['data']['districts']:
                row_dict = {
                    'States' : state_dir,
                    'Transaction_Year' : year_dir,
                    'Quarters' : int(json_file.split('.')[0]),
                    'District' : districts['entityName'],
                    'Transaction_Type' : districts['metric']['type'],
                    'Transaction_Count' : districts['metric']['count'],
                    'Transaction_Amount' : districts['metric']['amount']                
                    }
                data_list.append(row_dict)

#convert list of dictionaries to dataframe
df5 = pd.DataFrame(data_list)

df5

,States,Transaction_Year,Quarters,District,Transaction_Type,Transaction_Count,Transaction_Amount
0,tripura,2020,3,west tripura,TOTAL,522218,9.377261e+08
1,tripura,2020,3,south tripura,TOTAL,151881,2.708697e+08
2,tripura,2020,3,sepahijala,TOTAL,144693,2.693501e+08
3,tripura,2020,3,north tripura,TOTAL,126884,2.079651e+08
4,tripura,2020,3,gomati,TOTAL,121329,2.147859e+08
...,...,...,...,...,...,...,...
5915,jharkhand,2019,4,giridih,TOTAL,664950,1.173757e+09
5916,jharkhand,2019,4,ramgarh,TOTAL,606260,9.072403e+08
5917,jharkhand,2019,4,palamu,TOTAL,568241,1.542917e+09
5918,jharkhand,2019,4,saraikela kharsawan,TOTAL,542522,6.323867e+08
5919,jharkhand,2019,4,deoghar,TOTAL,411994,6.523815e+08

In [ ]:
import os
import json
import pandas as pd

root_dir = '/content/pulse/data/top/user/country/india/state'

#Initialize empty list
data_list = []

#Loop all states
for state_dir in os.listdir(root_dir):
  state_path = os.path.join(root_dir, state_dir)
  if os.path.isdir(state_path):

    #Loop years folder

    for year_dir in os.listdir(state_path):
      year_path = os.path.join(state_path, year_dir)
      if os.path.isdir(year_path):

        #loop all json files

        for json_file in os.listdir(year_path):
          if json_file.endswith('.json'):
            with open(os.path.join(year_path, json_file)) as f:
              data = json.load(f)


              #Extract the data

              for district in data['data']['districts']:
                row_dict = {
                    'State' : state_dir,
                    'Transaction_Year' : year_dir,
                    'Quarters' : int(json_file.split('.')[0]),
                    'District' : district['name'] if 'name' in district else district['pincode'],
                    'RegisteredUsers' : district['registeredUsers'],
                }
                data_list.append(row_dict)


#converting the list of dictionaries into the dataframe

df6 = pd.DataFrame(data_list)
df6

,State,Transaction_Year,Quarters,District,RegisteredUsers
0,tripura,2020,3,west tripura,151432
1,tripura,2020,3,south tripura,40797
2,tripura,2020,3,sepahijala,39970
3,tripura,2020,3,north tripura,37284
4,tripura,2020,3,gomati,34073
...,...,...,...,...,...
5915,jharkhand,2019,4,giridih,175648
5916,jharkhand,2019,4,deoghar,155132
5917,jharkhand,2019,4,palamu,141817
5918,jharkhand,2019,4,ramgarh,134423
5919,jharkhand,2019,4,saraikela kharsawan,112827

In [ ]:
# Transfering the file and also dropping the duplicate entries

d1 = df1.drop_duplicates()
d2 = df2.drop_duplicates()
d3 = df3.drop_duplicates()
d4 = df4.drop_duplicates()
d5 = df5.drop_duplicates()
d6 = df6.drop_duplicates()

In [ ]:
null_counts = d1.isnull().sum()
print(null_counts)

States                0
Transaction_Year      0
Quarters              0
Transaction_Type      0
Transaction_Count     0
Transaction_Amount    0
dtype: int64

In [ ]:
null_counts = d2.isnull().sum()
print(null_counts)

States                0
Transaction_Year      0
Quarters              0
Transaction_Type      0
Transaction_Count     0
Transaction_Amount    0
dtype: int64

In [ ]:
null_counts = d3.isnull().sum()
print(null_counts)

States               0
Transaction_Year     0
Quarters             0
District             0
Transaction_Type     0
Transaction_Count    0
dtype: int64

In [ ]:
null_counts = d4.isnull().sum()
print(null_counts)

States              0
Transaction_Year    0
Quarter             0
District            0
RegisteredUsers     0
dtype: int64

In [ ]:
null_counts = d5.isnull().sum()
print(null_counts)

States                0
Transaction_Year      0
Quarters              0
District              0
Transaction_Type      0
Transaction_Count     0
Transaction_Amount    0
dtype: int64

In [ ]:
null_counts = d6.isnull().sum()
print(null_counts)

State               0
Transaction_Year    0
Quarters            0
District            0
RegisteredUsers     0
dtype: int64

In [ ]:
# converting the data frames into the CSV

d1.to_csv('agg_trans.csv', index=False)
df2.to_csv('agg_user.csv', index=False)
d3.to_csv('map_tran.csv', index=False)
d4.to_csv('map_user.csv', index=False)
d5.to_csv('top_tran.csv', index=False)
d6.to_csv('top_user.csv', index=False)

In [ ]:
Agg_trans = pd.read_csv(r'/content/agg_trans.csv')
Agg_trans = pd.read_csv(r'/content/agg_trans.csv')
Agg_trans = pd.read_csv(r'/content/agg_trans.csv')
Agg_trans = pd.read_csv(r'/content/agg_trans.csv')
Agg_trans = pd.read_csv(r'/content/agg_trans.csv')
Agg_trans = pd.read_csv(r'/content/agg_trans.csv')